<!-- <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand text-light mt-2" >
        <img src="" alt="Logo" width="55" height="55" class=" align-text-top ">
        <span class="head mt-2">UMS</span> 
      </a>
     
    </div>
  </nav> -->

  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">
        <div class="logo-container">
          <img src="https://i.postimg.cc/tT0hHcv6/userslogo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
          <span class="head  ms-1">UMS</span>
        </div>
      </a>
    </div>
  </nav>