
*{
    font-family: "Poppins", sans-serif;
   
}

.navbar{
    background-color:rgb(14, 117, 121);
}

.navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  span{
    color: white;
    font-weight: bold;
  }