<div class="row">

    <div *ngIf="menuSlide" class="col-lg-2" id="nav">

        <div id="Link">
            <a href="">
                <div><strong><i class="fa-solid fa-home me-2 mt-5"></i>Home</strong></div>
            </a> <br> <hr class="ms-1">
            <a routerLink="/users">
                <div><strong><i class="fa-solid fa-users me-2"></i>Users</strong></div>
            </a> <br> <hr class="ms-1">
            <a>
                <div (click)="logout()"><strong><i class="fa-solid fa-right-from-bracket me-2"></i>Logout</strong></div>
            </a>
        </div>

    </div>

    <div class="col-lg-7 p-2">

        <div class="banner m-2 d-flex align-items-center rounded shadow-lg">
            <strong> <i (click)="menuClick()" class=" fa-solid fa-bars me-5 ms-5 "
                    style="color: white;font-size: 25px;"></i></strong>
            <h1 class="animate__animated animate__bounce mt-4">Welcome {{AdminUserName}}</h1>
        </div>


        <div class="row m-4">
            <!-- calender -->
            <div class="col-lg-4 p-2 shadow-lg border">
                <!-- <h3 class="text-center">Calender</h3> -->
                <div>
                    <mat-card class="demo-inline-calendar-card ">
                        <mat-calendar [(selected)]="selected"></mat-calendar>
                    </mat-card>
                </div>
            </div>
            <!-- pie chart -->
            <div class="col-lg-8  shadow-lg border">


                <app-chart></app-chart>


            </div>
        </div>

    </div>

    <div class="col-lg-3 shadow-lg border mt-2 mb-2">
        <div class="card text-center mb-3 m-3" style="width: 18rem;">
            <!-- the event can only use here  -->
            <app-admin-edit [data]="date" (onAdminChange)="updatedAdmin($event)"></app-admin-edit>
        </div>

        <div class="m-3 rounded shadow-lg d-flex align-items-center" id="banner2">
            <h5 class="text-white p-5 fs-5">Total Number of Users:{{employeeCount}}</h5>

        </div>
    </div>



</div>